<!DOCTYPE html>
<html Lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="SingUp-page.component.css">
</head>
<body>
<div class="logo">
    <div class="netflix">
      <span></span>
      <span></span>
      <span></span>
    </div>
  <iframe width="560" height="315"
          src="https://www.youtube.com/embed/GV3HUDMQ-F8?autoplay=1"
          title="YouTube video player" frameborder="0"
          style="display:none"
          allow="accelerometer; autoplay;
           clipboard-write; encrypted-media;
           gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

  <h3>Wanna join?</h3>
  <div class="cup">
  <div class="top"> </div>
    <div class="circle"></div>
    <div class="tea"></div>
    <div class="handle"></div>
    <div class="vapour">
      <span style="--i:1;"></span>
      <span style="--i:3;"></span>
      <span style="--i:16;"></span>
      <span style="--i:5;"></span>
      <span style="--i:13;"></span>
      <span style="--i:20;"></span>
      <span style="--i:6;"></span>
      <span style="--i:7;"></span>
      <span style="--i:10;"></span>
      <span style="--i:8;"></span>
      <span style="--i:17;"></span>
      <span style="--i:12;"></span>
      <span style="--i:14;"></span>
      <span style="--i:2;"></span>
      <span style="--i:9;"></span>
      <span style="--i:15;"></span>
      <span style="--i:4;"></span>
      <span style="--i:19;"></span>
      <span style="--i:11"></span>
    </div>
  </div>
  <div class="box">
  <form>
    <h2>Register</h2>
    <div class="inputBox">
      <input type="text" required="required">
      <span> Username </span>
      <i></i>
    </div>
    <div class="inputBox">
      <input type="password" required="required">
      <span> Password </span>
      <i></i>
    </div>
    <div class="inputBox">
      <input type="password" required="required">
      <span> Repeat Password </span>
      <i></i>
    </div>
    <div class="inputBox">
      <input type="text" required="required">
      <span>Email address</span>
      <i></i>
    </div>
    <div class="links">
      <a href="#">Register</a>
    </div>
  </form>
</div>
</div>
</body>
</html>
